@import "./../../../styles/variables";

.goodsList {
  margin-bottom: 80px;
}

.user {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.wrapper {
  height: 630px;
  overflow: auto;
  margin-top: 20px;
}
.goodsTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  td,
  th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  th {
    text-align: center;
    background-color: #f2f2f2;
    font-weight: bold;
  }
}
.column {
  width: 100px;
  &_name,
  &_descr,
  &_category,
  &_price {
    text-align: center !important;
  }
  &_descr {
    textarea {
      width: 300px;
      min-height: 170px;
    }
  }
  &_price {
    input {
      width: 60px;
    }
  }
  &_category {
    select {
      width: 120px;
    }
  }
  &_img {
    img {
      display: block;
      width: 90%;
      height: 90%;
      object-fit: contain;
      margin: 0 auto !important;
    }
  }
}
.btns{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn {
  padding: 10px 20px;
  background-color: $main-color;
  border-radius: 10px;
  transition: $transition;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover;
  }
  &_delete{
    background-color:	#fff
  }
}
