//стили для секции слайдеров на главном экране
.sliders {
  padding: 55px 0 97px;
  background: url("./bg-image.jpg") center (center / cover) no-repeat;
}

.brands img{
  padding: 33px;
  width: 16%;
}

.brand{
  background-color: blue;
}